@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@300;400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Noto Serif', sans-serif;
    color: #223;
    padding: 100px 150px;
}

aside {
    position: fixed;
    right: 150px;
    top: 100px;
    text-align: end;
}

aside ul {
    list-style-type: none;
}

code, pre {
    font-family: monospace;
    margin-bottom: 1rem;
}

code {
    padding: 0 5px;
    background: #ddd;
}

pre code {
    padding: 0;
    line-height: 1.6rem;
    font-size: 1.1rem;
    border-radius: 10px;
}

main {
    width: min(1000px, calc(100vw - 500px));
}

img {
    width: 100%;
    margin: 0 auto;
}

h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
}

h2 {
    font-size: 2.2rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

h3 {
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

p, ul, ol {
    font-size: 1.3rem;
    line-height: 2rem;
    margin-bottom: 1rem;
}

ul {
    list-style-type: circle;
}

a {
    text-decoration: none;
    color: mediumblue;
}

a:hover {
    text-decoration: underline;
}

hr {
    opacity: 20%;
    margin: 30px auto;
}

blockquote {
    border-left: 5px solid #ddd;
    padding-left: 1.5rem;
    font-style: italic;
}

blockquote * {
    color: #333;
    line-height: 170%;
}
